@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+LA+Guides&display=swap');
body{
    font-family: 'Oswald';
    background-color: darksalmon;
}

h1 {
    text-align: center;
    font-family:"Playwrite DE LA Guides" ;
    background-color: lavender;
}

p{
}

.sub{
    font-weight: bold;
    font-size: large;
    
} 


.sub2{
      font-family:"Space Grotesk";
      font-size:large ;
      font-weight: bold;

}


#reileao {
    background-color: blanchedalmond;
    padding-left: 16px;
    padding-right: 16px;
}



#viagem{
     background-color: lightblue;
    padding-left: 16px;
     padding-right: 16px;


}