body{
    font-family:'Oswald' ;
    background-color: cornflowerblue;
}
 

.form {
    display: flex;
     justify-content: space-between;
    flex-direction: column;

    padding: 2px;
    padding-left: 16px;


}


.termo{
    display: flex;
   flex-direction: row; 
    gap: 8px;
}


#preto{
    background-color: rgb(94, 81, 81);
    border-radius: 10px;

    width: 300px;
}

#branco{
      background-color: rgb(211, 235, 255);
      border-radius: 10px;

      width: 300px;
}


#img{
    width: 154px;
    height: 210px;
}

#dividido{
  display: flex;
 flex-direction: column;
  gap: 8px;
}





.estrelas {
    margin: 10px;
}


.estrelas span {
    font-size: 30px;
}

#divir{
     display: flex;
     flex-direction: row;

}





