body{
    font-family:'Oswald' ;
    background-color: cornflowerblue;

}
 

.form {
    display: flex;
     justify-content: space-between;
    padding: 2px;
    padding-left: 16px;
    flex-direction: column;
}
.termo{
    display: flex;
   flex-direction: row; 
    gap: 8px;


}

#preto{
    background-color: rgb(94, 81, 81);
}

#branco{
      background-color: rgb(211, 235, 255);
}


#img img {
    width: 154px;
    height: 210px;
    padding-left: 700px;
    overflow: auto;
}

#dividido{
  display: flex;
  flex-direction: row;
  gap: 8px;

}

#form {
    width: 50%;
}



.estrelas {
    margin: 10px;
}

.estrelas span {
    font-size: 30px;
}







